
@using E_prescription.Models.Account
@model PatientAccount
@{
    ViewBag.Title="Patient Registration";
    Layout = null/*"_Layout"*/;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Prescription</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>

<body>
    <div class="container">
        <main>
            <div class="text-center">
                <p2>
                    You are required to fill all fields in this form.<br />
                    If City/suburb you reside in is not listed, choose the nearest one.
                </p2>
            </div>

            <br /><br />
            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-group">
                    <div class="col-6 form-group">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
                    </div>
                    <div class="col-6 form-group">
                        <label asp-for="Surname">Surname</label>
                        <input class="form-control" asp-for="Surname" />
                        <div><span asp-validation-for="Surname" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-6 form-group">
                        <label asp-for="IDnumber">ID Number</label>
                        <input class="form-control" asp-for="IDnumber" type="number" />
                        <div><span asp-validation-for="IDnumber" class="text-danger"></span></div>
                    </div>
                    <div class="col-6 form-group">
                        <label asp-for="DateOfBith">Date of Birth</label>
                        <input class="form-control" asp-for="DateOfBith" type="date" />
                        <div><span asp-validation-for="DateOfBith" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-6 form-group">
                        <label asp-for="AddressLine1">AddressLine1</label>
                        <textarea asp-for="AddressLine1" class="form-control" rows="5"></textarea>
                        <div><span asp-validation-for="AddressLine1" class="text-danger"></span></div>
                    </div>
                    <div class="col-6 form-group">
                        <label asp-for="AddressLine2">AddressLine2</label>
                        <textarea asp-for="AddressLine2" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-6 form-group">
                        <label asp-for="ProvinceID">Province</label>
                        <select id="ProvinceList" asp-items="@ViewBag.Provinces" class="form-control">
                            <option>-- Select Province --</option>
                        </select>
                        <div><span asp-validation-for="ProvinceID" class="text-danger"></span></div>
                    </div>
                    <div class="col-6 form-group">
                        <label asp-for="CityID">City</label>
                        <select id="CityList" asp-for="CityID" asp-items="@(new SelectList(string.Empty,"Value","Text"))" class="form-control">
                            <option>-- Select City --</option>
                        </select>
                        <div><span asp-validation-for="CityID" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-6 form-group">
                        <label asp-for="SuburbID">Suburb</label>
                        <select id="SuburbList" asp-for="SuburbID" asp-items="@(new SelectList(string.Empty,"Value","Text"))" class="form-control">
                            <option>-- Select Suburb --</option>
                        </select>
                        <div><span asp-validation-for="SuburbID" class="text-dark"></span></div>
                    </div>
                    <div class="col-6 form-group">
                        <label asp-for="ContactNo">Contact number</label>
                        <input class="form-control" asp-for="ContactNo" type="number" />
                        <div><span asp-validation-for="ContactNo" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-6 form-group">
                        <label asp-for="Email">Email Address</label>
                        <input class="form-control" asp-for="Email" type="email" />
                        <div><span asp-validation-for="Email" class="text-danger"></span></div>
                    </div>
                    <div class="col-6 form-group">
                        <label asp-for="ConfirmEmail">Confirm Email Address</label>
                        <input class="form-control" asp-for="ConfirmEmail" type="email" />
                        <div><span asp-validation-for="ConfirmEmail" class="text-danger"></span></div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="col-6 form-group">
                        <label asp-for="Password">Password</label>
                        <input class="form-control" asp-for="Password" type="password" />
                        <div><span asp-validation-for="Password" class="text-danger"></span></div>
                    </div>
                    <div class="col-6 form-group">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <input class="form-control" asp-for="ConfirmPassword" type="password" />
                        <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span></div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Register</button>

            </form>

        </main>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ProvinceList").change(function () {
                $.getJSON("/Account/LoadCities", { id: $("#ProvinceList").val() }, function (d) {
                    var row = "";
                    $("#CityList").empty();
                    $("#SuburbList").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#CityList").html(row);
                })
            })

            $("#CityList").change(function () {
                $.getJSON("/Account/LoadSuburbs", { id: $("#CityList").val() }, function (d) {
                    var row = "";
                    $("#SuburbList").empty();
                    $.each(d, function (i, v) {
                        row += "<option value=" + v.value + ">" + v.text + "</option>";
                    });
                    $("#SuburbList").html(row);
                })
            })
        })
    </script>
</body>