@*@model DoctorModel
@{
    Layout = null;
}
<body   
    <div class="container" style="padding:30px;">
        <div class="section-title">
            <h2>Doctors</h2>
     </div>

</body>

<partial name="_ValidationScriptsPartial" />

*@