@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HistoryViewModel
@{
    ViewBag.Title = "Patient Allergy";
    Layout = "_MedicalHistory";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Prescription</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>


<body>
    <div class="container">
        <main>


            <form asp-controller="PatientMedHistory" asp-action="AddAllergy" asp-area="Doctor" method="post">

                <div class="input-group">
                    <div class="col-6 form-group">
                        <label>Ingredient Name</label>
                        <select asp-items="@ViewBag.Ingredients" id="cmbAllergy" asp-for="IngredientID" class="form-control">
                        </select>
                        <div><span class="text-danger"></span></div>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary">Add Ingredient</button>
            </form>

            <script type="text/javascript">


                // for searchable dropdown

                $(function () {
                    $("#cmbAllergy").select2();
                });
            </script>

        </main>
    </div>
</body>
