@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Patient Allergies";
    Layout = "_MedicalHistory";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Prescription</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>

<div class="form-group">
    @if (ViewBag.Allergies.Count > 0)
    {
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Allergy</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (AllergyViewModel allergy in ViewBag.Allergies)
                {
                    <tr>

                        <td>@allergy.IngredientDescription</td>
                       
                    </tr>
                }

            </tbody>
        </table>
        <a asp-action="AddAllergy" asp-controller="PatientMedHistory" asp-area="Doctor" class="btn btn-primary">Add new allergy</a>

    }
    else if (ViewBag.Allergies.Count == 0)
    {
        <h4 class="bg-warning text-center text-white p-2">No Allergy Records</h4>
    }

</div>

