@model ConditionDiagnosisModel
@{
    ViewBag.Title = "Conditions";
    Layout = "_AdminLayout";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Prescription</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>

<div class="text-center">
    <form asp-action="Add" asp-controller="ConditionDiagnosisRec" method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h1 class="display-4">Add Condition Diagnosis</h1>
        <label asp-for="ConditionDecription" class="col-6">Condition Name</label>
        <input type="text" asp-for="ConditionDecription" class="col-12 form-control" />
        <span asp-validation-for="ConditionDecription" class="text-danger"></span>
        <br />
        <a asp-controller="ConditionDiagnosisRec" asp-action="Conditions" class="btn btn-primary">Vew List</a>
        <button class="btn btn-primary" type="submit">Add Condition Diagnosis</button>
    </form>


</div>
