@{
    ViewData["Title"] = "Condition Diagnosis List";
    Layout = "_AdminLayout";
}

@*<div class="row">
    <div class="col-sm-2">
        <a asp-controller="ConditionDiagnosisRec" asp-action="Add" class="btn btn-primary">Add Condition Diagnosis Record</a>
    </div>
</div>*@


<div class="col-12 border p-3">
    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Condition Description</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var condition in Model)
            {
                <tr>
                    <td>@condition.ConditionDecription</td>
                    <td>
                        <a asp-controller="ConditionDiagnosisRec" asp-action="Update" asp-route-CenterID="@condition.ConditionId" class="material-icons">edit</a>
                        @*<a asp-controller="Report" asp-action="DownloadCenterReport" asp-route-BudgetID="@center.CenterID" class="text-primary"><i class="material-icons">description</i></a>*@
                        @*<a asp-controller="Center" asp-action="Centers" class="text-primary"><i class="material-icons"></i></a>*@
                        <a href="javascript:deleteCenter(@condition.ConditionId);" class="text-danger"> <i class="material-icons">delete</i></a>
                    </td>

                </tr>

            }
        </tbody>

    </table>
    <a asp-controller="ConditionDiagnosisRec" asp-action="Add" class="btn btn-primary">Add Condition Diagnosis Record</a>
</div>
