@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DosageVM
@{
    ViewBag.Title = "Dosage Form";
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Prescription</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>

    <h4>Add Dosage Form</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Add" asp-controller="DosageForm" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DosageDescription" class="control-label"></label>
                    <input asp-for="DosageDescription" class="form-control" />
                    <span asp-validation-for="DosageDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add dosage forom" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
