@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RejectPrescriptionItemVM
@{
    ViewBag.Title = "Reject Medication";
    Layout = "_SecondLayout";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Prescription</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js"></script>
</head>

<body>
    <div class="container">
        <main>
            <form asp-controller="Prescriptions" asp-action="RejectPrescriptionItem" asp-area="Pharmacist" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3>Rejecting @Model.MedicationName</h3>
                <div class="input-group">
                    <div class="col-12 form-group">
                        <label asp-for="RejectionReason">Rejection Reason</label>
                        <textarea asp-for="RejectionReason" class="form-control" rows="5" required></textarea>
                    </div>
                </div>

                <input asp-for="PrescriptionID" hidden />
                <input asp-for="MedicationName" hidden />
                <input asp-for="MedicationID" hidden />
                
                <button type="submit" class="btn btn-primary">Reject medication</button>

            </form>

        </main>
    </div>

</body>

