@{
    ViewData["Title"] = "Profile";
    Layout = "_PatientLayout";

}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
     <h1 class="h2 mb-0 text-gray-800">Edit Profile</h1>
    </div>

     <form method="post" asp-controller="Home" asp-action="Profile">
                    <div class="row text-center">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
     </form>
</div>